{% block navigator %}
    <div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Pharmacia</li>
      <li><a href="{{path('paciente_index')}}">Pacientes</a></li>
      <li><a href="{{path('analisi_index')}}">Analisis</a></li>
      <!-- <li><a href="#">One</a></li> -->
      </ul>
    </div>
    </div>
{% endblock %}