{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear analisis</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="button" value="Crear" />
    {{ form_end(form) }}


            <a href="{{ path('analisi_index') }}" class="hollow button warning">Regresar a la lista</a>

{% endblock %}
