{% extends 'base.html.twig' %}

{% block body %}
<div class="grid-container">
    <h1>Paciente creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="button success" value="Crear" />
    {{ form_end(form) }}

    <a href="{{ path('paciente_index') }}" class="hollow button alert">Volver a la lista</a>
</div>
{% endblock %}
